body {
    background-color: #262A10;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.neon-text {
    display: block; 
    font-size: 15rem; 
    font-family: Verdana, geneva, tahoma, sans-serif; 
    text-decoration: none; 
    color: transparent; 
    -webkit-text-strokes: 3px white; 
    position: relative; 
}
.neon-text::before{
    content: "AKEON"; 
    position: absolute; 
    width: 100%; 
    overflow: hidden; 
    color: beige; 
    border-right: 8px solid beige; 
    transition: 0.5s ease-in-out; 
}
.neon-text:hover::before {
    width: 100%; 
    filter: drop-shadow(0 0 25px beige); 
}
